<html>
    <link rel='stylesheet' type="text/css" href='/static/style.css'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Offline Form">
        <title>Offline Form</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <script type='text/javascript' src='/static/script.js'></script>
    </head>
    <body>
        <div class="ui grid" style="margin-top: 20px;">
            <div class="four wide column"></div>
            <div class="eight wide column">
                <div class="ui message">
                    You have successfully submitted your form
                    <div>Your name is {{first_name}} {{middle_name}} {{last_name}} </div>
                    <div> You were born on {{date_of_birth}} </div>
                    <div>You live in {{address}}</div>
                    <div>Your hobby is {{hobby}}</div>
                </div>
            </div>
            <div class="four wide column"></div>
        </div>
    </body>
</html>